#calendar {
    background: $white;
    border-radius: 2px;
    color: $black;
    overflow: hidden;
    margin-top: 20px;
    max-width: 250px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0 0 5px 5px $lightGrey;
}

.calendar {
    background: $white;
    border-radius: 2px;
    color: $black;
    overflow: hidden;
    padding: 16px 20px;
    max-width: 210px;

    .month-nav {
        background: $white;
        height: 36px;
        line-height: 40px;
        text-align: center;
    }

    .hidden {
        display: none;
    }

    .prev {
        float: left;
    }

    .next {
        float: right;
    }

    .month {
        display: inline-block;
    }

    .cell {
        background: $white;
        color: $blue;
        box-sizing: border-box;
        display: inline-block;
        padding: 5px;
        text-align: center;
        width: calc(100% / 7);
        cursor: pointer;
        border: 2px solid transparent; // fix the jitter on non-hover
    }
    
    .cell:hover {
        background: $white;    
        border-radius: 50%;
        border: 2px solid $blue;
    }
    
    .cell.empty:hover {
        border: none;
    }
    
    .cell.today {
        background-color: $blue;
        color: $white;
        border-radius: 50%;
    }
    
    .day {    
        padding: 8px;
        color: $black;
    }
    
    .day:hover {
        border: none;
    }

    button {
        background: none;
        color: inherit;
        cursor: pointer;
        font-size: 14px;
        height: 100%;
        padding: 8px;
    }
}