.header {
    border-bottom: 1px solid $mediumGrey;
    padding: 8px 16px;
    height: 24px;
    vertical-align: middle;

    .slDate {
        float: left;
    }

    .txtDate {
        float: right;
        border: 1px solid $mediumGrey;
        border-radius: 3px;
        padding: 2px;
        & #month {
            width: 20px;
            height: 18px;
            border: none;
        }
        & #day {
            width: 20px;
            height: 18px;
            border: none;
        }
        & #year {
            width: 20px;
            height: 18px;
            border: none;
        }
    }
}